- name: Deploy to Docker Swarm
  uses: appleboy/ssh-action@master
  with:
    host: ${{ secrets.HOST }}
    username: ${{ secrets.USERNAME }}
    key: ${{ secrets.SSH_PRIVATE_KEY }}
    script: |
      cd ~/repos/SchoolAdmin
      git pull origin main
      
      docker build -t school-admin-backend:latest ./backend
      docker build -t school-admin-frontend:latest ./frontend

      # Деплой с твоим файлом
      docker stack deploy -c stack.yml school-admin --with-registry-auth
      
      # Проверка
      docker service ls --filter name=school-admin
